# Ingora todos los nuevos archivos que se van a crear
/*
# Registra todos los cambios de mi carpeta e ignora la de mis compañeros
!/8
# Si alguien crea un nuevo archivo que no sea yo ignoralo
/8/*
# Excluir todo excepto el directorio 8/img
!/8/img
